<!DOCTYPE html>
<html>

<head>
  <title>Put a Title</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Put Something Here">
  <%- include('../partials/src') %>
  <link href="/home/css/home.css" rel="stylesheet" type="text/css">
</head>

<body>
  <div>username</div>
  <input class="username">
  <div>password</div>
  <input class="password">
  <button type="button" class="register">Register</button>

  <script src="function.js"></script>
</body>

</html>
