<!DOCTYPE html>
<html>

<head>
  <title>Randall's Lawfirm</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Where justice is served lawfully.">
  <%- include('../partials/src') %>
  <link href="/home/css/home.css" rel="stylesheet" type="text/css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.js"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css" rel="stylesheet" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css" rel="stylesheet" />
</head>

<body>

  <%- include('./../partials/navbar') %>

  <div class="imgContainer">
    <img src="../home/image/pic.jpg" class="homepage" alt="homepagePic">
    <div class="introduction">
      Welcome to Randall's Lawfirm where perfection is sought after
      <div class="searchBox">
        <input class="search" type="textbox" placeholder="Search"></input>
        <i class="fa fa-search"></i>
      </div>
    </div>
  </div>
  <div class="descriptionContainer">
    <div class="leftDes">
      <h3>Our Approach</h3>
      <p>
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
      </p>
    </div>

    <div class="rightDes">
      <h3>Our Business</h3>
      <p>
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
      </p>
    </div>

  </div>
  </div>

  <%- include('./../partials/footer') %>

  <!-- js files -->
  <script src="../partials/js/navbar.js"></script>
  <script src="../partials/js/footer.js"></script>
  <script src="../home/function.js"></script>
</body>

</html>
